@import "elr-scss-functions/src/main";

@mixin elr-address-block($config: ()) {
  $config: extend(
    (
      color: #111,
      accent-color: #f81190,
    ),
    $config
  );

  $color: map-get($config, color);
  $accent-color: map-get($config, accent-color);

  .address {
    font-style: normal;
    margin-bottom: 8px;
  }

  .address-line {
    line-height: 1.3;
    margin: 0 0 4px;
    padding: 0;
    font-size: 14px;
    display: block;
    color: $color;
  }

  .business-name-line {
    font-weight: 900;
    line-height: 1.5;
    color: $accent-color;
    font-size: 18px;
  }

  .contact-line {
    line-height: 1.3;
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;

    .fa-icon {
      font-size: 16px;
      margin-right: 4px;
      position: relative;
      top: 1px;
    }
  }

  .contact-label {
    display: flex;
    align-items: center;
    margin-right: 4px;
    position: relative;
    // top: -1px;
    color: #005ebd;
    font-weight: 900;

    // @media (max-width: 768px) {
    //   top: 0;
    // }
  }
}
