@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-address-block($config: ()) {
  $config: extend(
    (
      primary-color: $primary-color,
      accent-color: $secondary-color,
    ),
    $config
  );

  $primary-color: map-get($config, primary-color);
  $accent-color: map-get($config, accent-color);

  address {
    font-style: normal;
    margin-bottom: $base-fontsize * 0.5;

    span {
      font-style: normal;
    }
  }

  .address-line {
    line-height: 1.3;
    margin: 0 0 ($base-fontsize * 0.25);
    padding: 0;
    font-size: $base-fontsize * 0.875;
    display: block;
    color: $text-color;
  }

  .business-name-line {
    font-weight: 900;
    line-height: 1.5;
    color: $accent-color;
    font-size: $base-fontsize * 1.125;
    border-bottom: $border;
    display: block;
    width: 100%;
    padding-bottom: ($base-fontsize * 0.25);
    margin-bottom: $base-fontsize * 0.5;
  }

  .contact-line {
    line-height: 1.3;
    display: flex;
    margin-top: ($base-fontsize * 0.25);
    margin-bottom: ($base-fontsize * 0.25);
    font-size: $base-fontsize * 0.875;

    .fa-icon {
      font-size: $base-fontsize;
      margin-right: ($base-fontsize * 0.25);
      position: relative;
      top: 1px;
    }
  }

  .contact-label {
    display: flex;
    align-items: center;
    margin-right: ($base-fontsize * 0.25);
    position: relative;
    color: $accent-color;
    font-weight: 900;
  }
}
