@import "./src/main";
@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
}

.address-block {
  @include elr-address-block;
}

.locations {
  .locations-heading {
    color: $primary-color;
    font-weight: 900;
    border-bottom: $border;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  .location-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }

  .location-item {
    @include elr-address-block;
    flex-basis: 25%;
    padding: 32px 48px;

    &:nth-child(1n - 1) {
      padding-left: 0;
    }

    &:nth-child(4n) {
      padding-right: 0;
    }

    .business-name-line {
      font-size: 24px;
    }
  }
}
